<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="background-color: #f9f9f9; font-family:sans-serif;">
    <table id="wrapper" align="center" style="width:650px" cellpadding="20">
        <tr>
            <td>
                <hr style="border: 1px solid rgba(204, 196, 196, 0.82);" />
            </td>
        </tr>
        <tr>
            <td align="center" >
                <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;margin:20px auto;max-width: 300px" src="http://nowpark.me/img/logo.png" alt="" width="200" height="146" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <div id="content" style=" border: 1px solid rgba(204, 196, 196, 0.82); padding: 30px; margin: 20px auto; width:80%; text-align:left;">
                    <h2 style="Margin-top: 0;color: #555;font-style: italic;font-weight: normal;font-size: 26px;line-height: 32px;Margin-bottom: 20px;font-family: Georgia,serif">&#1042;&#1080; &#1073;&#1083;&#1072;&#1075;&#1086;&#1076;&#1072;&#1088;&#1080;&#1084;&#1077;,</h2><p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">&#1042;&#1072;&#1096;&#1072;&#1090;&#1072; e-mail &#1072;&#1076;&#1088;&#1077;&#1089;&#1072; &#1077; &#1079;&#1072;&#1087;&#1080;&#1096;&#1072;&#1085;&#1072; &#1074;&#1086; &#1085;&#1072;&#1096;&#1072;&#1090;&#1072; &#1083;&#1080;&#1089;&#1090;&#1072;.</p><p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
                        &#1042;&#1080;&#1077; &#1116;&#1077; &#1073;&#1080;&#1076;&#1077;&#1090;&#1077; &#1077;&#1076;&#1085;&#1080; &#1086;&#1076;
                        &#1087;&#1088;&#1074;&#1080;&#1090;&#1077; &#1082;&#1086;&#1080; &#1116;&#1077; &#1080;&#1084;&#1072;&#1072;&#1090; &#1095;&#1077;&#1089;&#1090; &#1076;&#1072; &#1112;&#1072; &#1082;&#1086;&#1088;&#1080;&#1089;&#1090;&#1072;&#1090; &#1072;&#1087;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1112;&#1072;&#1090;&#1072; &#1074;&#1086; &#1073;&#1077;&#1090;&#1072; &#1090;&#1077;&#1089;&#1090; &#1087;&#1077;&#1088;&#1080;&#1086;&#1076;&#1086;&#1090;.&nbsp;
                    </p><p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">&#1057;&#1083;&#1077;&#1076;&#1077;&#1090;&#1077; &#1085;&#1077; &#1085;&#1072; &#1085;&#1072;&#1096;&#1072;&#1090;&#1072; &#1075;&#1088;&#1091;&#1087;&#1072; &#1085;&#1072; Facebook,</p><p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom:
24px">&#1058;&#1080;&#1084;&#1086;&#1090; &#1085;&#1072; nowPark.me</p>
                </div>

            </td>
        </tr>
        <tr>
            <td align="center">
                <table id="social" style="margin: 20px auto;">
                    <tr>
                        <td style="padding: 0;vertical-align: top">
                            <a style="text-decoration:none;" href="https://www.facebook.com/NowParkMe">
                                <img style="border: 0;-ms-interpolation-mode: bicubic;display: block" src="https://i5.createsend1.com/static/eb/master/01-mason/images/facebook-dark.png" width="26" height="21" />
                            </a>
                        </td>
                        <td class="social-text" style="padding: 0;vertical-align: middle !important;height: 21px;font-size: 10px;font-weight: bold;text-decoration: none;text-transform: uppercase;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif">
                            <a style="text-decoration:none;" href="https://www.facebook.com/NowParkMe">
                                Like
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <hr style="border: 1px solid rgba(204, 196, 196, 0.82);" />
            </td>
        </tr>
        <tr>
            <td>
                <table id="footer" style="margin: 20px auto; text-align: center; font-weight:bold;">
                    <tr>
                        <td align="center">
                            <a href="http://nowpark.me">nowPark.me</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
