<header id="home">
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <nav class="pull">
                        <ul class="top-nav">
                            <li><a href="#intro">Introduction <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#features">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#responsive">About<span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#team">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#contact">Get in Touch <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero" id="hero">
        <div class="container firstPage">
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
            </div>
            <div class="row">
                <div class="logo">
                    <img src="~/img/logo.png" alt="nowpark.me logo" />
                </div>
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <h1 class="animated fadeInDown"><span> Parking reinvented</span></h1>
                    <p class="animated fadeInUp delay-05s">
                        What if parking could be stress-free, time-saving and really fun?
                        Be among the first to find out how this is possible. Subscribe to get a special surprise when we launch.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center subscribe_head">
                    <input type="text" name="email" id="email" placeholder="subscriber@examle.com" />
                    <input type="submit" id="subscribe" value="Subscribe" />
                    <span id="valMessage" class="hidden" style="background-color: rgba(141, 136, 136, 0.39);"></span>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="intro text-center section-padding" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">NowPark.me in a nutshell</h1>
                <p>
                    Driving round in circles when looking for parking isn't fun, right? Nor is being late because you parked 2km away.
                    We are a team that boldly goes where no parking app has gone before. NowPark.me is here to help you find the nearest parking and make sure there is a free spot waiting for you.
                    And we don't stop there. We want to provide you with even more parking options. That's why we launch the 'NowPark in my yard' function, which allows you to park safely in the nearest yard. And yes, that could cost even less than an ordinary parking ticket.
                    Put simply, your parking experience completely reinvented. That's what we do.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="features text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">NowPark.me can help you in minimum 3 ways:</h1>
                <div class="features-wrapper">
                    <div class="col-md-4 wp2">
                        <h2>Are you looking for a place to park?</h2>
                        <div class="icon">
                            <i class="fa fa-mobile shadow"></i>
                        </div>
                        <h2> NowPark.me</h2>
                        <p>
                            Enter where you want to go. We help you <b>find the nearest available parking spot</b>. And when you get there, you don't need to bother sending SMS and solving the puzzle: what parking zone it is. We do it all for you!
                            Bonus: we remind you when your parking ticket is about to end.
                        </p>
                    </div>
                    <div class="col-md-4 wp2 delay-05s">
                        <h2>Do you have a parking spot to offer?</h2>
                        <div class="icon">
                            <i class="fa fa-home shadow"></i>
                        </div>
                        <h2>Park in my yard</h2>
                        <p>
                            Do you have a free parking spot in your yard or garage anytime during the week? What if you <b>could rent your parking spot and earn money for that</b>? Offer your spot. Enter your address, and availability. We will connect you with drivers who want to park in your yard! Win-win, right?
                        </p>
                    </div>
                    <div class="col-md-4 wp2 delay-1s">
                        <h2>Do you wanna be the next parking hero?</h2>
                        <div class="icon">
                            <i class="fa fa-heart shadow"></i>
                        </div>
                        <h2>ParkHero</h2>
                        <p>
                            Imagine, you are walking down the street and you notice a free parking spot. Why don't you <b>tag that spot on the map and be someone's parking hero</b>? Once a lucky driver parks at the spot you suggested, you earn points! If you are going enough, you will get special value.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
        <div class="wrapper">
            <div class="iphone">
                <div class="wp3"></div>
            </div>
            <div class="fluid-white"></div>
        </div>
        <div class="container designs">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div id="servicesSlider">
                        <ul class="slides">
                            <li>
                                @*<h1 class="arrow">Responsive Design Specialists</h1>*@
                                <p>NowPark.me solves all parking related headaches.</p>
                                <p>
                                    Looking for parking?
                                </p>
                                <p>We find the nearest free spot. We help you save time and fuel. </p>
                                <p>
                                    We even help you meet fantastic parking hosts, who will take care of your baby car while you do your stuff.
                                </p>
                                <p>All you need to do is leave your e-mail and count to 997 888 716 until the app is up and running. Or just wait for us to come to you inbox and notify you that your parking problems are over. </p>
                            </li>
                            @*<li>
                                    <h1 class="arrow">Bootstrap Professionals</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                                    <p>
                                        Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan.
                                    </p>
                                    <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="swag text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Got 99 problems,<span>but  where to park ain't one any more</span></h1>
                <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="team text-center section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">We're a team that adore what we do</h1>
            </div>
        </div>
        <div class="row">
            <div class="team-wrapper">
                <div id="teamSlider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-4 wp5">
                                <img src="~/img/ivana.png" alt="Team Member">
                                <h2>Ivana Taleska</h2>
                                <h3>Crazy designer</h3>
                                <p>Designers are meant to be Loved not to be understood.</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="https://www.facebook.com/ivana.p.taleska?fref=ts" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        @*<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 wp5">
                                <img src="~/img/joco.png" alt="Team Member">
                                <h2>Jordan Krstevski</h2>
                                <h3>Ninja Developer</h3>
                                <p>Team work makes the dream work.</p><br />
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="https://www.facebook.com/joco.nolimits" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        @*<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 wp5">
                                <img src="~/img/kristijan.png" alt="Team Member">
                                <h2>Kristijan Arsovski</h2>
                                <h3>Bohemian Developer</h3>
                                <p> if you think you are too small to make a difference, try sleeping with a mosquito.</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="https://www.facebook.com/karsovski1?fref=ts" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        @*<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="col-md-4 wp5 delay-05s">
                                <img src="~/img/darko.png" alt="Team Member">
                                <h2>Darko Kotoski</h2>
                                <h3>Silent Developer</h3>
                                <p>May the code be with you.</p><br />
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="https://www.facebook.com/darkokotoski?fref=ts" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/VolkotSit" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        @*<li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-1s">
                                <img src="~/img/kristina.png" alt="Team Member">
                                <h2>Kristina Krstevska</h2>
                                <h3>Loud Developer</h3>
                                <p>Code can be fashionable.</p><br />
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="https://www.facebook.com/krstevska.k?fref=ts" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        @*<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <!-- Irena is removed as member
                             <div class="col-md-4 wp5">
                                 <img src="~/img/irena.png" alt="Team Member">
                                 <h2>Irena Efremovska</h2>
                                 <h3>non tech wizard</h3>
                                 <p>This is Irena's quote.</p><br />
                                 <div class="social">
                                     <ul class="social-buttons">
                                         <li><a href="https://www.facebook.com/irena.efremovska" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="https://twitter.com/iRenaWarwick" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                         @*<li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>*@
                                     </ul>
                                 </div>
                             </div>
                            -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe text-center">
    <div class="container">
        <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center subscribe_head">
                <input type="text" name="email" id="email1" placeholder="subscriber@examle.com" />
                <input type="submit" id="subscribe1" value="Subscribe" />
                <span id="valMessage1" class="hidden"></span>
            </div>
        </div>
    </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Drop us a line</h1>
            </div>
        </div>
        <div class="row contact-details">
            @*<div class="col-md-4">
                    <div class="light-box box-hover">
                        <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                        <p>ninjas don't have adresses</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="light-box box-hover">
                        <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                        <p>ninjas don't use phone</p>
                    </div>
                </div>*@
            <div class="col-md-4" style="width:100%;">
                <div class="light-box box-hover">
                    <a href="mailto:contact@nowpark.me">
                        <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                        <p>
                            contact@nowpark.me
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="social-buttons">
                    <li><a href="https://www.facebook.com/NowParkMe?fref=nf" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    @*<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>*@
                    <li><a href="mailto:contact@nowpark.me" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @*<ul class="legals">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Legals</a></li>
                    </ul>*@
            </div>
            <div class="col-md-6 credit">
                <p><a href="https://www.facebook.com/NowParkMe?fref=nf">nowPark.me</a></p>
            </div>
        </div>
    </div>
</footer>

@section Scripts{
    <script>
        $(function () {
            $("#subscribe").on("click", function () {
                var email = $("#email");
                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if (!filter.test(email.val())) {
                    $("#valMessage").html("<p style='color:red;' class='valMessage'>Please input valid e-mail.</p>");
                    email.focus();
                    return;
                } else {
                    $.post("/Home/Subscribe", { email: email.val() }, function (res) {
                        if (res == "True") {
                            $("#valMessage").html("<p style='color:green;' class='valMessage'>You have subscribed in our newsletter. Stay tuned for news :)</p>");
                        } else {
                            $("#valMessage").html("<p style='color:red;' class='valMessage'>Email is already in our database.</p>");
                            email.focus();
                        }
                    });
                }
                $("#valMessage").removeClass("hidden");
            });

            $("#subscribe1").on("click", function () {
                var email = $("#email1");
                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if (!filter.test(email.val())) {
                    $("#valMessage1").html("<p style='color:red;' class='valMessage'>Please input valid e-mail.</p>");
                    email.focus();
                    return;
                } else {
                    $.post("/Home/Subscribe", { email: email.val() }, function (res) {
                        if (res == "True") {
                            $("#valMessage1").html("<p style='color:green;' class='valMessage'>You have subscribed in our newsletter. Stay tuned for news :)</p>");
                        } else {
                            $("#valMessage1").html("<p style='color:red;' class='valMessage'>Email is already in our database.</p>");
                        }
                    });
                }
                $("#valMessage1").removeClass("hidden");
            });
        });
    </script>
}

